.results {
  display: flex;
  flex-direction: row;
  height:100%;
  width:100%;
  flex-wrap: wrap;
}

.molecule-choices {
  display:flex;
  flex-direction: row;
  width:100%;
  height: min(50%, calc(100% - 300px));
  justify-content: space-around;
  z-index: 1;
}

.plot-and-explanation {
  display:flex;
  flex-direction: row;
  width:100%;
  height: max(50%, 350px);
  justify-content: space-around;
  position: fixed;
  bottom: 10%;;
}

.title {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-height: 0%;
  width:100%;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  font-size: max(23px, 1vw);
  font-weight: bold;  /* Bold text for title */
}

.molecule-image-and-descriptors {
  display: flex;
  flex-direction: row;  /* whether boxes in this box are arranged in a row or column */
  max-height: 90%;          /* so takes up all the top LH box */ 
  max-width: 90%;          /* was  max-height: 70%; min-width: 50%;*/
  min-width: 80%;
  align-items: center;
  justify-content: center;
}

.molecule-image {
  display: flex;
  width:60%;
  height: 100%;
}

.molecule-image > .molecule {
  width: 100%;
  height: 100%;
}

.molecule-image > .molecule > img {
  height: 90%;
}


.molecule-descriptors {
  display: flex;
  flex-direction: column;
  align-items: baseline; /* Align at left of container */
  font-size: max(1.5vh, 10px);
}

.molecule-descriptors > .row {
  padding-left:18px;
} 

figcaption {
  display: table-caption;
  caption-side: top;
}

.real-molecule {
  display: flex;
  flex-direction: column;  /* whether boxes in real-molecule arranged in a row or column */
  height:90%;
  width:45%;
  align-items: center; 
  justify-content: flex-start;
  border-style: solid;
  border-width: 1px;
  border-color: #212529;
  border-radius: 5px;
  padding: 5px;
  margin:15px;
  gap:45px;
  overflow: hidden;
  
}

.chosen-molecule {
  display: flex;
  flex-direction: column;  /* whether boxes in in this box are arranged in a row or column */
  height:90%;
  width:45%;
  align-items: center; 
  justify-content: flex-start;
  border-style: solid;
  border-width: 1px;
  border-color: #212529;
  border-radius: 5px;
  padding: 5px;
  margin:15px;
  gap: 45px;
  overflow: auto;
}


.spider-plot {
  display: flex;
  flex-direction: column;  /* whether boxes in in this box are arranged in a row or column */
  width:50%;
  height:100%;
  align-items: center;
  justify-content: center;
}

.spider-plot-container {
  width: max(100%, 400px);
  display: flex;
  flex-direction: row;
  align-items: center;
  height:100%;
}


.spider-plot-image{
  display: flex;
  max-height: 75%;
  min-width: 50%;
  align-items: center;
  justify-content: center;
}

.explanation-and-button {
  display: flex;
  flex-direction: column;
  height:100%;
  width:45%;
  justify-content: center;
  padding: 20px;
  padding-left:0px;
  padding-right:50px;

}

.explanation {
  text-align: justify;
  font-size: min(max(11px, 1.2vw), 18px);
  margin-top: 2vh;
}

.explanation-and-button a {
  width:fit-content;
  align-self: flex-end;
}

.explanation-and-button button{
  background-color: #212529;
  color: white;
  border: none;
  border-radius: 8px;
  width: 130px;
  height: 50px;
  margin-right:50px;
  margin-top:20px;
  font-size: max(15px, 1vw);
}

.button-style {
  background-color: #212529;
  color: white;
  border: none;
  border-radius: 8px;
  height: 50px;
  margin-right:10px;
  margin-top:10px;
  font-size: max(15px, 1vw);
}

.button-style:hover{
  opacity: 0.9;
  font-weight: bold;
}

.explanation-and-button button:hover{
  opacity: 0.7;
  font-weight: bold;

}

.explanation-and-button button:active{
  background-color: #0d0e10;
  opacity: 1;
}

.mk_pre_test_button button{
  background-color: #212529;
  color: white;
  border: none;
  border-radius: 8px;
  width: 500px;
  min-height: 10px;
  max-height: 90px;
  margin: 10px;
}


.mk_pre_test_button button:hover{
  opacity: 0.7;
}

.mk_pre_test_button button:active{
  background-color: #0d0e10;
  opacity: 1;
}