.r_group_stats {
  font-size: 10px;
}

.asset__item img {
  max-width: 100%;
}

.build {
  display: flex;
  flex: 1;
  background-color: white;
  flex-direction: row;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
  height: 100%;
}

.r-group-selection {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.r-group-list {
  padding: 5px;
  background-color: white;
}

.r-group-container {
  padding-top: 5px;
}

.r-group-card {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #212529;
  border-radius: 5px;
  padding: 5px;
}

.r-group-card:hover {
  opacity: 0.5;
}

.r-group-card:active {
  background-color: darkgray;
}

.r-group-img {
  width: 100%;
  height: auto;
  min-width: 100pt;
}

.mol-visbox {
  display: flex;
  flex: 3;
  flex-direction: column;
}

.rendered-molecule {
  display: flex;
  flex: 1;
  background-color: white;
  padding: 15px;
  justify-content: center;
  align-content: center;
}

.rendered-molecule > .molecule {
  display: flex;
  height: 55vh;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}

.rendered-molecule > .molecule img {
  display: flex;
  max-height: 100%;
  justify-content: space-around;
  align-content: space-around;
}

.build > .mol-visbox > .control-panel {
  display: flex;
  background-color: white;
  justify-content: space-around;
  padding: 10px;
}

.control-panel button {
  background-color: #212529;
  color: white;
  border: none;
  border-radius: 8px;
  width: 80px;
  position: relative;
}

.control-panel button:hover {
  opacity: 0.7;
}

.control-panel button:active {
  background-color: #212529;
  opacity: 1;
}

.row {
  --bs-gutter-x: 1rem; /*Gives room in row for units to fit in the card */
}

.build > .r-group-selection > .hover-info button {
  background-color: #fdfbfb;
  border-radius: 12px;
  border-width: 1.8px;
  margin-left: 50px;
  margin-top: 10px;
}

.build > .r-group-selection > .hover-info button:hover {
  opacity: 0.7;
  background-color: #6a6c6e;
}

.build > .r-group-selection > .hover-info > .info-text {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  display: flex;
  margin-left: 50px;
  font-size: 15px;
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  background-color: #fdfbfb;
  white-space: pre-line;
  width: 20vw;
  max-height: 50vh;
  overflow-y: scroll;
}

.build > .r-group-selection > .r-group-a {
  overflow-y: scroll;
}

.build > .r-group-selection > .r-group-b {
  overflow-y: scroll;
}

.build > .molecule-chooser-bar {
  display: flex;
  flex-direction: column;
  background-color: white;
  flex-grow: 2;
  min-height: 100%;
  align-items: end;
  padding-bottom: 10pt;
  justify-content: flex-start;
  text-align: left;
  max-width: 175px;
}

.build > .molecule-chooser-bar > p {
  margin-right: 49px;
}

.build > .molecule-chooser-bar > .molecule-list {
  padding: 5px;
  background-color: white;
  overflow-y: scroll;
  white-space: nowrap;
  overflow-x: hidden;
  padding-top: 0px;
}



.build > .molecule-chooser-bar > .molecule-list > .molecule-container {
  padding-top: 5px;
  max-width: 170px;
}

.build > .molecule-chooser-bar > .molecule-list > .molecule-container > .molecule-card{
  padding-top: 5px;
  max-width: 170px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #212529;

}

.build > .molecule-chooser-bar > .molecule-list > .molecule-container > .molecule-card > .molecule {
  background-color: white;
  border-radius: 5px;
  padding: 0px;
}
.build > .molecule-chooser-bar > .molecule-list > .molecule-container > .molecule-card > .molecule img {
  width: 80%;
}

.molecule-widget:hover {
  opacity: 0.5;
}

.molecule-widget:active {
  background-color: darkgray;
}

.build > .molecule-chooser-bar > .molecule-list > .molecule-container > .molecule img {
  width: 160px;
}
