.analysis {
  display: flex;
  flex-direction: row;
  flex: 1, 1, 3;
  height: 100%;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.final-molecule-bar {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
  padding-bottom: 10pt;
  margin-left: 0vw;
  margin-right: flex;
  width: min(28vw, 350px);
}

 .selector-panel {
  display: flex;
  justify-content: space-between;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0px;
  justify-self: right;
  flex-direction: column;
}

.selector-panel-select-button button {
  background-color: #212529;
  color: white;
  border: none;
  border-radius: 10px;
  height: 70px;
  font-size: max(16px, 1vw);
  width: 80%;
  padding-top: 0px;
}
.selector-panel-select-button:hover {
  opacity: 0.7;
}
.final-molecule-bar .help-button {
  background-color: #fdfbfb;
  border-radius: 12px;
  border-width: 1.8px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: min(1vw, 16px);
  max-height: 35px;
  align-self: flex-end;
  z-index: 4;
}

.final-molecule-bar .molecule-widget {
  padding: 15px;
  width: 80%;
}

.final-molecule-bar .molecule-widget > .molecule img {
  width: 80%;
}

.comparison-graph {
  display: flex;
  /* flex-grow: 1.5; */
  min-height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: "1";
  position: "fixed";
  width: 60vw;
}

.plot-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.comparison-graph .help-button {
  background-color: #fdfbfb;
  border-radius: 12px;
  border-width: 1.8px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1px;
  font-size: min(1vw, 16px);
}

.comparison-graph .help-button:active {
  background-color: #fdfbfb;
}

.plot-button-bigpanel {
  margin-bottom: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: flex;
  width: flex;
}
.plot-button-panel {
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: flex;
}
.plot-button button{
    display: flex;
    background-color: #212529;
    color: white;
    border: none;
    border-radius: 10px;
    height: flex;
    width: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
    margin: 2px;
    padding: 10px;
    padding-bottom: 15px;

}
.plot-button:hover {
  opacity: 0.7;
}
.plot-button-row {
  margin-bottom: 1vh;
  display: flex;
  flex-direction: row;
  width: flex;
  max-width: 750px;
  justify-content: right;
}

.plot-button-row button{
  background-color: #212529;
  color: white;
  border: none;
  margin-right: 3px;
  /* margin-bottom: 9px; */
  border-radius: 8px;
  width: 4.3vw;
  font-size: min(1vw, 16px);
}
.comparison-graph:hover {
  opacity: 1;
}

.comparison-graph:active {
  background-color: white;
  opacity: 1;
}
.plot-button-row  button:active {
  opacity: 1;
}
.plot-button-row button:hover {
  opacity: 0.7;
}

.plot-button-row > .inactivebutton button {
  background-color: #212529;
}

.plot-button-row > .activebutton button {
  background-color: green;
}

.show-hover > .molecule img {
  border: 1px solid rgb(12, 10, 10);
  width: 120px;
  z-index: 3;
  position: absolute;
  display: flex;
}

.help-info-text {
  border-style: solid;
  border-width: 1px;
  display: inline-flex;
  font-size: 14px;
  z-index: 2;
  position: absolute;
  border-radius: 5px;
  background-color: #fdfbfb;
  white-space: pre-line;
  margin-right: 50vw;
  padding: 3px;
  margin-left: 26%;
}

.plot-button a {
  text-decoration: none;
}

p {
    padding-left: 0;
}