.analysis {
  display: flex;
  flex-direction: row;
  flex: 1, 1, 3;
  height: 100%;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.final-molecule-bar {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
  padding-bottom: 10pt;
  margin-left: 0vw;
  margin-right: flex;
  width: min(28vw, 350px);
}

 .selector-panel {
  display: flex;
  justify-content: space-between;
  padding-left:20px;
  padding-right:20px;
}

 .selector-panel-select-button {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #212529;
  color: white;
  border: none;
  border-radius: 10px;
  height: 70px;
  width: 120px;
  font-size: max(14px, 1vw);
  margin: 2px
}
.selector-panel-select-button:hover {
  opacity: 0.7;
}
.selector-panel .help-button {
  background-color: #fdfbfb;
  border-radius: 12px;
  border-width: 1.8px;
  margin-right: 20px;
  margin-top: 1px;
  font-size: min(1vw, 16px);
  max-height: 35px;
}

 .selector-panel-select-button button {
  background-color: #212529;
  color: white;
  border: none;
  border-radius: 10px;
  height: 70px;

  font-size: max(14px, 1vw);
  margin: 2px
}

.final-molecule-bar .molecule-widget {
  padding: 15px;
  width: 100%;
}

.final-molecule-bar .molecule-widget > .molecule img {
  width: 100%;
}

.comparison-graph {
  display: flex;
  /* flex-grow: 1.5; */
  min-height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: "1";
  position: "fixed";
  width: 60vw;
}

.plot-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.comparison-graph .help-button {
  background-color: #fdfbfb;
  border-radius: 12px;
  border-width: 1.8px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1px;
  font-size: min(1vw, 16px);
}

.comparison-graph .help-button:active {
  background-color: #fdfbfb;
}

.comparison-graph button:not(.help-button) {
  background-color: #212529;
  color: white;
  border: none;
  margin-right: 3px;
  /* margin-bottom: 9px; */
  border-radius: 8px;
  width: 4vw;
  font-size: min(1vw, 16px);
}
.plot-button-bigpanel {
  margin-bottom: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: flex;
  width: flex;
}
.plot-button-panel {
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: flex;
}
.plot-button{
  
  display: flex;
  background-color: #212529;
  color: white;
  border: none;
  border-radius: 10px;
  height: flex;
  width: flex;
  flex-direction: row;
  justify-content: center;
  font-size: flex;
  margin: 2px

}
.plot-button:hover {
  opacity: 0.7;
}
.plot-button-row {
  margin-bottom: 1vh;
  display: flex;
  flex-direction: row;
  width: flex;
  max-width: 750px;
  justify-content: right;
}
.comparison-graph:hover {
  opacity: 1;
}

.comparison-graph:active {
  background-color: white;
  opacity: 1;
}
.plot-button-row  button:active {
  background-color: #e2159e;
  opacity: 1;
}
.plot-button-row button:hover {
  opacity: 0.7;
}

.show-hover > .molecule img {
  border: 1px solid rgb(12, 10, 10);
  width: 120px;
  z-index: 3;
  position: absolute;
  display: flex;
}

.help-info-text {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  display: flex;
  font-size: 15px;
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  background-color: #fdfbfb;
  white-space: pre-line;
  margin-right: 47vw;
}
