.sketcher_builder{
  display: flex;
  flex: 1, auto;
  flex-direction: row;
  background-color: white;
  height: 100%;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vh;
  padding-bottom: 3vh;

  }

.sketcher-control-panel {
    display: flex;
    background-color: black; 
    background-color: white;
    justify-content: space-around;
    padding: 10px;
  }
  .sketcher-control-panel button{
    background-color: #212529;
    color: white;
    border: none;
    border-radius: 8px;
    width: 80px;
  }

.sketched_molecules {
    flex-grow: 2;
    min-height: 100%;
    justify-content: center;
    overflow-y:scroll;
    min-width: 20%;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    padding-bottom: 10pt;
    max-width: 250pt;
  }

.molecule_list {
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: column;
}

.placeholder_text {
  padding: 4%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
}
.ketcher {
  display: flex;
  flex-direction: row; 
  min-width: 80%;
}

.ketcher_div {
  display: flex;
  flex-direction: column;
  min-width: 85%;
}