.home {
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
    flex-wrap: wrap;
    align-items: left;
  }

  .progressloaderpage{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .hometitle{
    display: flex;
    min-height: 15%;
    height:20%;
    max-height: 20%;;
    width:100%;
    height:flex;
    width:flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    font-weight: bold;  /* Red bold text for title */
    padding-left: 30pt;
    padding-right: 30pt;
  }

  .pic-and-text{
    display:flex;
    flex-direction: row;
    flex: 1 1 auto;
    width:70%;
    height: 60%;
    justify-content: space-around;
    align-items: center;
    background-color: white;
  }
  
  .picture{
    display:flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    background-color:white
  }

  .picture > img {
    max-width:100%;
  }

  .text-and-button{
    flex: 1;
  }

  .advanced-button-wrapper{
    cursor: not-allowed;
  }

  .advanced-button{
    pointer-events: none;
  }

  .text{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-height: 25%;
    width:100%;
    max-width:100%;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    text-align: justify;
    margin-bottom: 10pt;;
  }
