.analysis {
    display: flex;
    flex-direction: row;
    background-color: greenyellow;
    min-height: 82vh;
}

.molecule_list {
    display: flex;
    background-color: orange;
    flex-grow: 1;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comparison_graph {
    display: flex;
    background-color: blanchedalmond;
    flex-grow: 1.5;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}