.r_group_stats {
    font-size: 13px;
  }
  
  .asset__item img {
    max-width: 100%;
  }

  .wrapper{
    height: 83vh;
    margin: 0;
  }

  .app {
    display: flex;
    flex: 1;
    background-color: white; /* blue; */
    flex-direction: row;
    padding: 40px;
    height: 100%;
  }

  .r-group-selection {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    background-color:white; /* chartreuse; */
    padding:10px;
  }

  .r-group-list {
    padding: 5px; 
    background-color: white; /* red; */ 
    overflow-y:scroll;
  } 

  .r-group-container {
    padding-top: 5px;
  }

  .r-group-card {
    background-color: white ;
    border-style: solid;
    border-width: 1px;
    border-color: #212529;
    border-radius: 5px;
    padding: 5px;
  }


  .r-group-card:hover {
    opacity: 0.5;
  }

  .r-group-card:active {
    background-color: darkgray;
  }

  .r-group-img {
    width:210px;
    height: auto;
  }


  .mol-visbox {
    display: flex;
    flex:3 ; 
    flex-direction: column;
  }

  .rendered-molecule {
    display: flex;
    flex: 1;
    background-color:white; /* yellow; */
    padding: 15px;
    justify-content: center;
    align-content: center;
  } 


  .molecule{
    display: flex;
    height: 55vh;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
  }

  .molecule img {
    display: flex;
    max-height:100%;
    justify-content: space-around;
    align-content: space-around;
  }

  .control-panel {
    display: flex;
    background-color: white; /* pink; */
    justify-content: space-around;
    padding: 10px;
  }

  .control-panel button{
    background-color: #212529;
    color: white;
    border: none;
    border-radius: 8px;
    width: 80px;
  }

  .control-panel button:hover{
    opacity: 0.7;
  }

  .control-panel button:active{
    background-color: #0d0e10;
    opacity: 1;
  }