.wrapper{
    height: 84vh;
    margin: 0;
  }
/* .results {
    display: flex;
    flex-direction: column;
    height:100%;
    flex-wrap: wrap;
} */

.results img {
    width:350px;
}

/* .molecule-images {
    display: flex;
    flex-direction: row;
    width:100%;
    height:50%;
} */

.molecule-image-and-descriptors {
  display: flex;
  flex-direction: row;  /* whether boxes in this box are arranged in a row or column */
  /* background-color: purple; */
  /* flex-grow: 3; */
  /* max-height: 90%;          
  max-width: 90%;          
  min-width: 80%; */
  width:100%;
  height:50%;
  align-items: center;
  justify-content: center;
}

.molecule-image {
  display: flex;
  background-color: orange;
  /* flex-grow: 3; */
  max-height: 100%;
  min-width: 50%;
  align-items: center;
  justify-content: center;
}

.molecule-descriptors {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  /* flex-grow: 3; */
  /* max-height: 100%; */
  min-height:80%;
  min-width: 40%;
  align-items: baseline; /* Align at left of container */
}

.molecule-descriptors > .row {
  padding-left:18px;
} 

.molecule-results-analysis {
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 50%;
}

.molecule-display{
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
}


.real-molecule {
    display: flex;
    flex-direction: column;
    /* background-color: darkkhaki; */
    /* flex-grow: 3; */
    /* max-height: 70%;
    min-width: 50%; */
    width:50%;
    align-items: center;
    justify-content: center;
}

.chosen_molecule {
    display: flex;
    flex-direction: column;
    /* background-color: darkred; */
    /* flex-grow: 3; */
    /* max-height: 70%;
    min-width: 50%; */
    width:50%;
    align-items: center;
    justify-content: center;
}

.spider_plot {
    display: flex;
    /* background-color:darkslateblue; */
    /* flex-grow: 1; */
    /* max-height: 30%;
    min-width: 50%; */
    width:50%;

    align-items: center;
    justify-content: center;
}

.explanation_results {
    display: flex;
    /* background-color:darkturquoise; */
    /* flex-grow: 1; */
    /* max-height: 30%;
    min-width: 50%; */
    width:50%;

    align-items: center;
    justify-content: center;
}

.title {
  display: flex;
  /* background-color: pink; */
  /* flex-grow: 3; */
  max-height: 100%;
  min-width: 50%;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;  /* Red bold text for title */
  /* color: red; */
}






.results {
  display: flex;
  flex-direction: row;
  background-color: greenyellow;
  min-height: 82vh;
  flex-wrap: wrap;
}

.real-molecule {
  display: flex;
  flex-direction: column;  /* whether boxes in real-molecule arranged in a row or column */
  background-color: darkkhaki;
  /* flex-grow: 3; */
  /* max-height: 70%; */
  height: 50%;
  /* min-width: 50%; */
  width:50%;
  align-items: center; 
  justify-content: center;
}


.molecule-image-and-descriptors {
  display: flex;
  flex-direction: row;  /* whether boxes in this box are arranged in a row or column */
  background-color: purple;
  /* flex-grow: 3; */
  max-height: 90%;          /* so takes up all the top LH box */ 
  max-width: 90%;          /* was  max-height: 70%; min-width: 50%;*/
  min-width: 80%;
  align-items: center;
  justify-content: center;
}

.molecule-image {
  display: flex;
  background-color: orange;
  /* flex-grow: 3; */
  max-height: 100%;
  min-width: 50%;
  align-items: center;
  justify-content: center;
}

.molecule-descriptors {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  /* flex-grow: 3; */
  /* max-height: 100%; */
  min-height:80%;
  min-width: 40%;
  max-width:50%;
  align-items: baseline; /* Align at left of container */
}

.molecule-descriptors > .row {
  padding-left:18px;
} 

figure {
  display: table;
  max-height: 70%;
  min-width: 50%;
}
figcaption {
  display: table-caption;
  caption-side: top;
}

.chosen-molecule {
  display: flex;
  flex-direction: column;  /* whether boxes in in this box are arranged in a row or column */
  background-color: darkred;
  /* flex-grow: 3; */
  /* max-height: 70%; */
  height: 50%;
  /* min-width: 50%; */
  width: 50%;
  align-items: center;
  justify-content: center;
}

.spider-plot {
  display: flex;
  flex-direction: column;  /* whether boxes in in this box are arranged in a row or column */
  background-color:darkslateblue;
  /* flex-grow: 1; */
  /* max-height: 30%;
  min-width: 50%; */
  width:50%;
  height:50%;
  align-items: center;
  justify-content: center;
}

/* .spider-plot-title{
  display: flex;
  background-color: darksalmon;
  flex-grow: 3;
  max-height: 100%;
  min-width: 50%;
  align-items: center;
  justify-content: center;
} */

.spider-plot-image{
  display: flex;
  background-color: darkorchid;
  /* flex-grow: 3; */
  max-height: 100%;
  min-width: 50%;
  align-items: center;
  justify-content: center;
}

.explanation-results {
  display: flex;
  background-color:darkturquoise;
  /* flex-grow: 1; */
  /* max-height: 30%;
  min-width: 50%; */
  width:50%;
  height:50%;
  align-items: center;
  justify-content: center;
}
