.wrapper{
    height: 84vh;
    margin: 0;
  }
.results {
    display: flex;
    flex-direction: column;
    /* background-color: greenyellow; */
    height:100%;
    flex-wrap: wrap;
}

.results img {
    width:350px;
}

.molecule-images {
    display: flex;
    flex-direction: row;
    width:100%;
    height:50%;
}

.molecule-results-analysis {
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 50%;
}



.real_molecule {
    display: flex;
    flex-direction: column;
    /* background-color: darkkhaki; */
    /* flex-grow: 3; */
    /* max-height: 70%;
    min-width: 50%; */
    width:50%;
    align-items: center;
    justify-content: center;
}

.chosen_molecule {
    display: flex;
    flex-direction: column;
    /* background-color: darkred; */
    /* flex-grow: 3; */
    /* max-height: 70%;
    min-width: 50%; */
    width:50%;
    align-items: center;
    justify-content: center;
}

.spider_plot {
    display: flex;
    /* background-color:darkslateblue; */
    /* flex-grow: 1; */
    /* max-height: 30%;
    min-width: 50%; */
    width:50%;

    align-items: center;
    justify-content: center;
}

.explanation_results {
    display: flex;
    /* background-color:darkturquoise; */
    /* flex-grow: 1; */
    /* max-height: 30%;
    min-width: 50%; */
    width:50%;

    align-items: center;
    justify-content: center;
}