.assay {
  display: flex;
  flex-direction: row;
  flex: 1, 1, auto;
  height: 100%;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.molecule-chooser-bar {
  display: flex;
  background-color: white;
  flex-grow: 2;
  min-height: 100%;
  justify-content: center;
  padding-bottom: 10pt;
  max-width: 250pt;
}

.assay_button {
  display: flex;
  background-color: mediumaquamarine;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  outline-style: solid;
}

.assay > .mol-visbox {
  display: flex;
  flex: 3;
  flex-direction: column;
}

.assay > .mol-visbox > .rendered-molecule {
  display: flex;
  background-color: white;
  padding: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: center;
  align-content: center;
  height: 45vh;
  padding-top: 8vh;
}

.assay > .mol-visbox > .rendered-molecule > .molecule {
  display: flex;
  height: 45vh;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}

.assay > .mol-visbox > .rendered-molecule > .molecule img {
  display: flex;
  max-height: 100%;
  justify-content: space-around;
  align-content: space-around;
}

.selected-mol-stats {
  width: 100%;
}

.selected-mol-stats > .mol-stats {
  display: flex;
  flex-direction: row;
  font-size: max(0.8vw, 10px);
  width: 100%;
  justify-content: space-between;
}

.selected-mol-stats > .mol-stats > .assay-stats {
  width: 33%;
  padding-right: 50px;
}

.selected-mol-stats > .mol-stats > .lipinski-stats {
  width: 33%;
  padding-right: 50px;
}

.selected-mol-stats > .mol-stats > .descriptor-stats {
  width: 33%;
}

.molecule-list {
  padding: 5px;
  background-color: white;
  overflow-y: scroll;
}

.molecule-container {
  padding-top: 5px;
}

.molecule-widget {
  border-style: solid;
  border-width: 1px;
  border-color: #212529;
  border-radius: 5px;
  padding: 5px;
}

.molecule-widget:hover {
  opacity: 0.5;
}

.molecule-widget:active {
  background-color: darkgray;
}

.molecule-widget > .molecule img {
  width: 240px;
}

.mol-stats {
  font-size: 12px;
  width: 240px;
  padding-left: 18px;
  white-space: nowrap;
}

.stats-type-header {
  font-weight: bold;
}

.assay-panel {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
  padding: 10px;
  width: 20%;
}

.assay-name {
  font-size: 2vh;
}

.assay-cost-and-time {
  font-size: 1.6vh;
  font-weight: lighter;
}

.button-box {
  padding: 10px;
}

.assay-panel button {
  background-color: #212529;
  color: white;
  border: none;
  border-radius: 8px;
  min-width: 100px;
  max-width: 200px;
  flex: 1 1 auto;
  min-height: 40px;
  max-height: 90px;
  margin-bottom: 10px;
  white-space: pre-line;
  width: 200px;
}

.assay-panel button:hover {
  opacity: 0.7;
}

.assay-panel button:active {
  background-color: #0d0e10;
}

.assay-panel > .inactivebutton button {
  background-color: #212529;
}

.assay-panel > .activebutton button {
  background-color: green;
}


.control-panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.control-panel button {
  padding: 5px;
  margin-right: 4vw;
  width: 100px;
}

.help-toggle {
  z-index: 10;
  margin-left: max(43vw, 570px);
  position: absolute;
}

.help-toggle button {
  border-width: 1px;
  border-radius: 8px;
}

.help-toggle button:active {
  background-color: #6a6c6e;
}

.help-toggle > .toggle-inactivebutton button {
  background-color: #fdfbfb;
}

.help-toggle > .toggle-activebutton button {
  background-color: green;
    color: white;
    border-radius: 6px;
    border: hidden; 
}

/* assay invoice toggle button */


.invoice {
  z-index: 20;
  margin-left: 80vw;
  position: absolute;
}

.invoice button {
  display: flex;
  border-width: 1px;
  border-radius: 8px;
}

.invoice button:active {
  background-color: #6a6c6e;
}

.invoice > .invoice-activebutton button {
  background-color: #fdfbfb;
}

.invoice > .invoice-inactivebutton button {
  background-color: #fdfbfb;
}

.invoice > .invoice-inactivebutton > .info-invoice button:active {
  background-color: #6a6c6e;
}


.invoice > .invoice-activebutton > .info-invoice {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  display: flex;
  margin-left: 15px;
  font-size: 15px;
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  background-color: #fdfbfb;
  white-space: pre-line;
  width: 30vh;
}

.info-invoice {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  display: flex;
  margin-left: 70vw;
  margin-top: 5vh;
  font-size: 15px;
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  background-color: #fdfbfb;
  white-space: pre-line;
  width: 30vh;
}

table {
  display: flex;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 1px;
  border-color: burlywood;
}

#cost {font-weight: bold;}

/* .build > .r-group-selection > .hover-info button:hover {
  opacity: 0.7;
  background-color: #6a6c6e;
}

.build > .r-group-selection > .hover-info > .info-text {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  display: flex;
  margin-left: 50px;
  font-size: 15px;
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  background-color: #fdfbfb;
  white-space: pre-line;
  width: 50vh;
}
 */



.hover-info-text-pic50 {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  display: flex;
  margin-left: 22vh;
  margin-top: 5px;
  font-size: 15px;
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  background-color: #fdfbfb;
  white-space: pre-line;
  width: 35vh;
}

.hover-info-text-clrmouse {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  display: flex;
  margin-left: 22vh;
  margin-top: 9.5vh;
  font-size: 15px;
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  background-color: #fdfbfb;
  white-space: pre-line;
  width: 35vh;
}

.hover-info-text-clrhuman {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  display: flex;
  margin-left: 22vh;
  margin-top: 18vh;
  font-size: 15px;
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  background-color: #fdfbfb;
  white-space: pre-line;
  width: 35vh;
}

.hover-info-text-logd {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  display: flex;
  margin-left: 22vh;
  margin-top: 27vh;
  font-size: 15px;
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  background-color: #fdfbfb;
  white-space: pre-line;
  width: 35vh;
}

.unsavedmol{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mk_pre_test_button{
  background-color: #212529;
  color: white;
  border: none;
  border-radius: 8px;
  width: 500px;
  min-height: 10px;
  max-height: 90px;
  margin: 10px;
}


.mk_pre_test_button:hover{
  opacity: 0.7;
}

.mk_pre_test_button:active{
  background-color: #0d0e10;
  opacity: 1;
}

.hover-info-text-pampa {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  display: flex;
  margin-left: 22vh;
  margin-top: 35.5vh;
  font-size: 15px;
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  background-color: #fdfbfb;
  white-space: pre-line;
  width: 35vh;
}

.hover-info-text-chklip {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  display: flex;
  margin-left: 210px;
  margin-top: 58vh;
  font-size: 15px;
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  background-color: #fdfbfb;
  white-space: pre-line;
  width: 15vw;
}

.hover-info-text-descr {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  display: flex;
  margin-left: 210px;
  margin-top: 62vh;
  font-size: 15px;
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  background-color: #fdfbfb;
  white-space: pre-line;
  width: 15vw;
}

.hover-info-text-run {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  display: flex;
  margin-left: 210px;
  margin-top: 53vh;
  font-size: 15px;
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  background-color: #fdfbfb;
  white-space: pre-line;
  width: 15vw;
}

.mol-stats > .hover-info-button-lip {
  position: absolute;
  z-index: 9;
  margin-left: 8vw;
}

.mol-stats > .hover-info-button-lip button {
  background-color: #fdfbfb;
  border-radius: 7px;
  border-width: 1.8px;
}

.hover-info-text-lip > .info-text {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  display: flex;
  margin-left: 11vw;
  font-size: 12px;
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  background-color: #fdfbfb;
  white-space: pre-line;
  width: 11vw;
  height: 18vh;
  overflow-y: scroll;
}

.mol-stats > .hover-info-button-desc {
  position: absolute;
  z-index: 9;
  margin-left: 27vw;
}

.mol-stats > .hover-info-button-desc button {
  background-color: #fdfbfb;
  border-radius: 7px;
  border-width: 1.8px;
}

.mol-stats > .descriptor-stats > .hover-info-text-desc > .info-text {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  display: flex;
  font-size: 12px;
  z-index: 100;
  position: absolute;
  border-radius: 5px;
  background-color: #fdfbfb;
  white-space: pre-line;
  width: 11vw;
  margin-left:13.5vw;
  height: 18vh;
  overflow-y: scroll;
}

.mol-stats > .hover-info-button-assay {
  position: absolute;
  z-index: 30;
  margin-left: 42vw;
}

.mol-stats > .hover-info-button-assay button {
  background-color: #fdfbfb;
  border-radius: 7px;
  border-width: 1.8px;
}

.hover-info-text-assay > .info-text {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  display: flex;
  font-size: 12px;
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  background-color: #fdfbfb;
  white-space: pre-line;
  width: 11vw;
  margin-left: 7vw;
  margin-top: 3vh;
  height: 18vh;
  overflow-y: scroll;
}


